* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #00532f;
  color: #bdac4e;
}

.nav {
  background-color: #549a71;
  color: #f7e382;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.site-title {
  font-size: 2rem;
}

.nav a.active {
  background-color: #2f764f;
}

.nav li:hover {
  background-color: #438761;
}
